<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example3.demo3.dao.DepartmentMapper">
    <select id="selectAllForEmployee" resultType="map">
        select id as did,name as dname from department;
    </select>
</mapper>